<% @listings.each do |listing| %>
  <div class="listing-card">
    <%= link_to listing do %>
      <div class="listing-card-img">
        <% if listing.listing_image.present? %>
          <div class="card-img" style="background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.3)), url( <%= listing.listing_image %>);">
            <h1><%= listing.title %></h1>
          </div>
        <% else %>
          <div class="card-img" style="background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.3)), url( <%= image_path('homepage_banner')%>);">
              <h1><%= listing.title %></h1>
          </div>
        <% end %>
      </div>

      <div class="listing-card-info">
        <div class="card-level">
          <div class="card-user">
            <% if listing.user.photo.attached? %>
              <img src="<%= cl_image_path listing.user.photo.key %>" class="avatar" />
            <% else %>
              <img src="<%= image_path 'avatar' %>" class="avatar" />
            <% end %>
            <p><%= listing.user.first_name %> </p>
          </div>
          <p class="card-category"><%= listing.skill.category %></p>
        </div>
        <div class="card-description">
          <p><%= listing.description %></p>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
