<div class="container">
  <div class="row justify-content-center my-5">
    <div class="col-12 col-sm-12 col-md-8 col-lg-8 col-xl-6">
      <h3 class="text-center">Type a keyword for your image</h3>

      <%= simple_form_for @listing, method: :get, url: add_image_path do |f| %>
        <%= f.input :image_keyword %>
        <%= f.submit %>
      <% end %>
      <br>
      <form class="simple_form edit_listing" id="edit_listing_1" novalidate="novalidate" action="<%= post_add_image_path(@listing) %>" accept-charset="UTF-8" method="post">
        <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
        <div class="form-group string optional listing_image_keyword">
          <fieldset class="form-group radio_buttons optional listing_listing_image">
            <legend class="col-form-label pt-0">
              Listing image
            </legend>
            <input type="hidden" name="listing[listing_image]" value="">
            <div class="radio-button-image-grid">
                <% @urls.each_with_index do |url, index| %>
                <div class="form-check">
                  <input class="form-check-input radio_buttons optional" name="listing[listing_image]" type="radio" value="<%= url %>" id="url-<%= index %>">
                  <label class="form-check-label collection_radio_buttons" for="url-<%= index %>">
                    <%= image_tag url %>
                  </label>
                </div>
                <% end %>
            </div>
          </fieldset>
          <input type="submit" name="commit" value="Let's Teach!" class="button standard accent" data-disable-with="Let's Teach!">
        </form>
      </div>
    </div>
  </div>


