<div class="container">
  <br>
  <br>

<%= simple_form_for :listing, url: listings_path, method: :get do |f| %>
    <div class="search-form-control form-group">
      <select class="form-control" id="skill-filter" name="skill" onchange='if(this.value != 0) { this.form.submit(); }'>
        <option value="none" selected disabled hidden>
          Select a Category
      </option>
        <option value="Crafts">Crafts</option>
        <option value="Woodworking">Woodworking</option>
        <option value="Painting">Painting</option>
        <option value="Music">Music</option>
        <option value="Writing">Writing</option>
        <option value="Entrepreneuship">Entrepreneuship</option>
        <option value="Photography">Photography</option>
        <option value="Drawing">Drawing</option>
        <option value="Gardening">Gardening</option>
      </select>
      <% end %>
      <br>
    </div>

  <div class="row justify-content-center">
    <% @listings.each do |listing| %>
    <div class="card-listing col-12 col-md-4 col-lg-3">
      <div class="listing-image-container">
        <% if listing.listing_image.present? %>
        <div class="listing-image" style="background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.3)), url( <%= listing.listing_image %>);">
          <h1><%= listing.title %></h1>
        </div>
        <% else %>
        <div class="listing-image" style="background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.3)), url( <%= image_path('homepage_banner')%>);">
          <h1><%= listing.title %></h1>
        </div>
        <% end %>
      </div>
      <div class="card-listing-bottom">
        <div class="card-bottom-infos d-flex justify-content-between align-items-center">
          <% if listing.skill != nil %>
          <% if listing.skill.category == 'Crafts' || listing.skill.category == 'Woodworking' %>
          <div class="skill-categories red-category d-inline">
            <p><%= listing.skill.category %></p>
          </div>
          <% elsif listing.skill.category == 'Painting' || listing.skill.category == 'Music' %>
          <div class="d-inline skill-categories green-category d-inline">
            <p class="display-inline-block"><%= listing.skill.category %></p>
            <p><%= listing.skill.category %></p>
          </div>
          <% elsif listing.skill.category == 'Writing' || listing.skill.category == 'Entrepreneurship' %>
          <div class="d-inline skill-categories purple-category d-inline">
            <p class="display-inline-block"><%= listing.skill.category %></p>
          </div>
          <% elsif listing.skill.category == 'Photography' || listing.skill.category == 'Drawing' || listing.skill.category == 'Gardening' %>
          <div class="d-inline skill-categories yellow-category d-inline">
            <p class="display-inline-block"><%= listing.skill.category %></p>
          </div>
          <% end %>
          <% end %>
          <div class="skill-level-image">
            <% if listing.skill_level == "Advanced" %>
            <%= image_tag 'advanced-01.svg', class: "level-image" %>
            <% elsif listing.skill_level == "Beginner" %>
            <%= image_tag 'beginner-03.svg', class: "level-image" %>
            <% elsif listing.skill_level == "Intermediate" %>
            <%= image_tag 'intermediate-02.svg', class: "level-image" %>
            <% end %>
          </div>
        </div>
        <p class="mb-2"><%= truncate(listing.description, length: 70)%></p>
                  <div class="listing-user">
              <% if listing.user.photo.attached? %>
              <img src="<%= cl_image_path listing.user.photo.key %>" class="avatar avatar-shawdow" />
              <% else %>
              <img src="<%= image_path 'avatar' %>" class="avatar" />
              <% end %>
              <p class="teacher-first-name"><%= listing.user.first_name %> <%= listing.user.last_name %></p>
          </div>
      </div>
    </div>
    <% end %>
  </div>
