<div class="container">
  <% if @listing.listing_image %>
  <div class="listings-show-banner">
    <%= image_tag(@listing.listing_image, alt: "banner", class:"listings-show-image") %>
    <% if current_user == @listing.user %>
      <button type="button" class="button standard accent" id="change-image-button" data-toggle="modal" data-target="#exampleModalCenter">Change Image </button>
    <% end %>
  </div>
  <% else %>
  <div class="listings-show-banner">
    <%= image_tag('homepage_banner.jpg', class:"listings-show-image") %>
    <% if current_user == @listing.user %>
      <button type="button" class="button standard accent" id="change-image-button" data-toggle="modal" data-target="#exampleModalCenter">Change Image </button>
    <% end %>
  </div>
  <% end %>
</div>

<%= render "modal_image"  %>

</div>

<br>
<br>
<div class="container">
  <div class="row">
    <div class="listing-infos col-12 col-sm-12 col-md-8 col-lg-8">
      <h2><%= @listing.title %></h2>
      <div class="listing-top-infos d-flex flex-wrap", style="color:grey;">
        <p class="mr-4"> <%= render "shared/review-score", user: @average_rating %> | <%= @listing.user.reviews.count %> reviews</p>
        <p class="mr-4"><%= @listing.address.city%>, The Netherlands</p>
        <p class="mr-4">With <%= @listing.user.first_name %>   <%= @listing.user.last_name %> </p>
        <p class="mr-4"> <%= @listing.skill_level %> class</p>
      </div>
      <br>
      <br>
      <%= @listing.description %> </p>
      <br>
      <h5>About <%= @listing.user.first_name %></h5>
      <p> <%= @listing.user.bio %> </p>
      <br>
      <h5><%= @listing.user.first_name %> offers this class because </h5>
      <p> <%= @listing.user.motivation %> </p>
      <br>

      <h5>Reviews about <%= @listing.user.first_name %></h5>
      <% if @listing.user.reviews.count == 0 %>
        <p> No reviews... yet </p>
        <br>
      <% else %>
        <% @listing.user.reviews.each do |review| %>
          <%= render 'teacher_reviews' %>
        <% end %>
      <% end %>

      <% if @listing.user.has_socials? %>
      <h6><%= @listing.user.first_name %>'s socials</h6>
      <div class="listing-socials d-flex socials">
        <% if @listing.user.linkedin_link? %>
        <a href="<%= @listing.user.linkedin_link %>" target="_blank"><i class="fab fa-linkedin-in"></i></a>
        <% elsif @listing.user.twitter_link? %>
        <a href="<%= @listing.user.twitter_link %>" target="_blank"><i class="fab fa-twitter"></i></a>
        <% elsif @listing.user.instagram_link? %>
        <a href="<%= @listing.user.facebook_link %>" target="_blank"><i class="fab fa-facebook-f"></i></a>
        <% elsif @listing.user.facebook_link?%>
        <a href="<%= @listing.user.instagram_link %>" target="_blank"><i class="fab fa-instagram"></i></a>
        <% end %>
      </div>
      <% end %>
      <br>
      <h6><%= @listing.user.first_name %>'s Reviews </h6>
      <br>
      <%= render 'teacher_reviews' %>
        <button class="button standard accent" type="button" data-toggle="collapse" data-target="#reviewAccordian" aria-expanded="false" aria-controls="collapseExample">
          Leave a review
        </button>
        <%= render "review_accordian"  %>
        <br>
      </p>
    </div>
    <div class="listing-booking-form col-12 col-sm-12 col-md-4 col-lg-4">
      <h5>Free experience</h5>
      <%= simple_form_for([@listing, @booking]) do |f| %>
      <%= f.input :date %>
      <%= f.submit 'Reserve', class: "button standard accent fill"%>
      <% end %>
    </div>
  </div>
</div>



