<div class="container">
  <% if @listing.listing_image %>
  <div class="listings-show-banner">
    <%= image_tag(@listing.listing_image, alt: "banner", class:"listings-show-image") %>
    <% if current_user == @listing.user %>
      <button type="button" class="button standard accent" id="change-image-button" data-toggle="modal" data-target="#exampleModalCenter">Change Image </button>
    <% end %>
  </div>
  <% else %>
  <div class="listings-show-banner">
    <%= image_tag('homepage_banner.jpg', class:"listings-show-image") %>
    <% if current_user == @listing.user %>
      <button type="button" class="button standard accent" id="change-image-button" data-toggle="modal" data-target="#exampleModalCenter">Change Image </button>
    <% end %>
  </div>
  <% end %>
</div>

<%= render "modal_image"  %>

</div>

<br>
<br>
<div class="container">
  <div class="row">
    <div class="listing-infos col-12 col-sm-12 col-md-12 col-lg-8">
      <h2><%= @listing.title %></h2>
      <div class="listing-top-infos d-flex flex-wrap", style="color:grey;">
        <% if @listing.user.reviews.count != 0 %>
          <p class="mr-4"> <%= render "shared/review-score", user: @average_rating %> | <%= @listing.user.reviews.count %> reviews</p>
        <% end %>
        <p class="mr-4"><i class="fas fa-map-marker-alt"></i> <%= @listing.address.city%></p>
        <p class="mr-4"><i class="fas fa-user"></i> <%= @listing.user.first_name %></p>
        <p class="mr-4"><i class="fas fa-signal"></i> <%= @listing.skill_level %></p>
      </div>
      <br>
      <br>
      <h5>About the class</h5>
      <%= @listing.description %> </p>
      <br>
      <h5>About <%= @listing.user.first_name %></h5>
      <p> <%= @listing.user.bio %> </p>
      <br>
      <h5><%= @listing.user.first_name %> offers this class because </h5>
      <p> <%= @listing.user.motivation %> </p>
      <br>
      <% if @listing.user.has_socials? %>
      <h5><%= @listing.user.first_name %>'s socials</h5>
      <div class="listing-socials d-flex socials socials-large">
        <% if @listing.user.linkedin_link? %>
        <a href="<%= @listing.user.linkedin_link %>" target="_blank"><i class="fab fa-linkedin-in"></i></a>
        <% elsif @listing.user.twitter_link? %>
        <a href="<%= @listing.user.twitter_link %>" target="_blank"><i class="fab fa-twitter"></i></a>
        <% elsif @listing.user.instagram_link? %>
        <a href="<%= @listing.user.facebook_link %>" target="_blank"><i class="fab fa-facebook-f"></i></a>
        <% elsif @listing.user.facebook_link?%>
        <a href="<%= @listing.user.instagram_link %>" target="_blank"><i class="fab fa-instagram"></i></a>
        <% end %>
      </div>
      <% end %>
      <br>
      <h5>Reviews about <%= @listing.user.first_name %></h5>
      <br>
      <% if @listing.user.reviews.count == 0 %>
        <p> No reviews... yet </p>
        <br>
      <% else %>
        <%= render 'teacher_reviews' %>
      <% end %>
      <br>
    </div>
    <div class="listing-booking-form col-12 col-sm-12 col-md-12 col-lg-4">
      <h6 class="mb-3">Book this class</h6>
      <%= simple_form_for([@listing, @booking]) do |f| %>
      <%= f.input :date, use_short_month: true, order: [:day, :month, :year], label: false %>
      <%= f.submit 'Reserve', class: "button standard accent fill"%>
      <% end %>
    </div>
  </div>
</div>



