
<script src="https://unpkg.com/@daily-co/daily-js"></script>
<div id="messages" data-chatroom-id="<%= @chatroom.id %>" style="overflow-y: auto; height:400px;">
  <% @chatroom.messages.each do |message| %>
  <div class="message-container" id="message-<%= message.id %>">
    <i class="author">
      <span><%= message.user.first_name %></span>
      <small><%= message.created_at.strftime("%a %b %e at %l:%M%p") %></small>
    </i>
    <p><%= message.content %></p>
  </div>
  <% end %>

</div>
<div class="chat-call-buttons">
  <div class="chat-button">
    <%= simple_form_for([ @chatroom, @message ], remote: true, class: "full-width") do |f| %>
    <%= f.input :content, label: false, placeholder: "Your message", wrapper_html: {class: "full-width"} %>
    <div class="call-button">
      <%= f.submit "Send Message", class: "button standard accent fill" %>
    <% end %>
      <button data-key="<%= @room %>" class="button standard accent fill" id="vid-call-btn"><i class="fas fa-phone-alt"></i> Start a video call now</button>
    </div>

  </div>
</div>

