<h1>Bookings#show</h1>

<p>Find me in app/views/bookings/show.html.erb</p>

<div class="booking-show-grid">
  <div class="booking-details">
    <h6>Date: <%= @booking.date  %></h6>
    <h6>Status: <%= @booking.status  %></h6>
  </div>
  <div class="teacher-bio">
    <div class="teacher-card">
      <h6>Teacher's Details</h6>
        <% if @booking.listing.user.photo.attached? %>
          <img src="<%= cl_image_path @booking.listing.user.photo.key %>" class="avatar-large"/>
        <% end %>
        <div class="teacher-name">
          <%= @booking.listing.user.first_name %>
        </div>
        <div class="user-bio">
          <h6>Bio</h6>
         <%=  @booking.user.bio %>
        </div>
      <%= link_to "Teacher's Profile", account_path(@booking.listing.user), class: 'button standard accent' %>
    </div>
  </div>

  <div class="map">
  </div>
</div>

<%= link_to 'Back to My Profile', account_path, class: 'button standard accent' %>

<h1>Chat Time</h1>

<%= render "chatrooms/views", chatroom: @chatroom, message: @message %>


<div class="video-call">
  <script src="https://unpkg.com/@daily-co/daily-js"></script>
    <button class="button standard accent fill" onclick="run()"><i class="fas fa-phone-alt"></i></button>
    <script>

      async function run() {
        // COMMENTED OUT FOR DEVELOPMENT ADD THIS TO USE UNIQUE ROOMS
        // room = {url: `<%= @room %>`}
        room = { url: "https://boomzy.daily.co/qMLWks2AEI4wJhM57bf4" }
        window.callFrame = window.DailyIframe.createFrame({
          iframeStyle: {
            position: 'fixed',
            border: 0,
            top: 0, left: 0,
            width: '100%',
            height: '100%'
          }
        });
        await callFrame.join({
          url: room.url,
          showLeaveButton: true
        });

        function leave(e) {
          showEvent(e);
          callFrame.destroy();
        }
      }
    </script>
</div>
<%= link_to 'Back to Profile', account_path, class: 'btn btn-primary' %>
