<div class="container">
  <div class="row">
    <% if @booking.status == "Accepted" %>
    <div class="col-sm-12 col-md-12 col-lg-8">
    <% else %>
    <div class="col-12">
    <% end %>
      <br>
      <br>
      <p>Hi <%= @booking.user.first_name%>,</p>
      <h3>Thanks for booking <%= @booking.listing.title %> with <%= @booking.listing.user.first_name%> <%= @booking.listing.user.last_name %></h3>
      <br>
      <p>• You've booked this learning experience for <%= @booking.date %>.</p>
      <%= render 'booking_status' %>
      <br>
      <%= render 'teacher_details' %>
      <h5>Reviews about <%= @booking.listing.user.first_name %></h5>
      <br>
      <%= render 'teacher_reviews' %>
      <br>
      <% if current_user == @booking.user %>
        <button class="button standard accent" type="button" data-toggle="collapse" data-target="#reviewAccordian" aria-expanded="false" aria-controls="collapseExample">
          Leave a review
        </button>
        <%= render "review_accordian"  %>
        <br>
      <% end %>
      <br>
    </div>
    <% if @booking.status == "Accepted" %>
      <div class="col-sm-12 col-md-12 col-lg-4">
        <br>
        <br>
          <div class="chat-card">
            <div class="video-call">
              <h5>Chat with <%=@booking.listing.user.first_name  %></h5>
            </div>
            <div class="chat-buttons">
              <div class="chatroom">
                <%= render "chatrooms/views", chatroom: @chatroom, message: @message, room: @room%>
              </div>
            </div>
          </div>
      </div>
    <% end %>
  </div>
</div>
<div class="map-container mt-5" id="map"
  style="width: 100vw; height: 550px;"
  data-markers="<%= @marker.to_json %>"
  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
</div>


