<div class="container">
  <div class="row">
    <% if @booking.status == "Accepted" %>
    <div class="col-sm-12 col-md-12 col-lg-8">
    <% else %>
    <div class="col-12">
    <% end %>
      <br>
      <br>
      <p>Hi <%= @booking.user.first_name%>,</p>
      <h3>Thanks for booking <%= @booking.listing.title %> with <%= @booking.listing.user.first_name%> <%= @booking.listing.user.last_name %></h3>
      <br>
      <p>You've booked this learning experience for <%= @booking.date %>.</p>


      <% if @booking.status == "Pending" %>
        <p>Your booking is currently <strong>pending</strong>. You'll hear from us again once <%= @booking.listing.user.first_name %> has accepted.</p>
        <p>In the meantime, learn more about your teacher below. </p>
      <% elsif @booking.status == "Accepted" %>
        <p><%= @booking.listing.user.first_name %> has <strong> accepted</strong> your booking. You can see their details below and start reaching out via the chat on the right to make an appointment. </p>
      <% elsif @booking.status == "Denied" %>
        <p>Unfortunately <%= @booking.listing.user.first_name %> will has <strong>declined</strong> your booking. Feel free to book one of our other learning experiences. </p>
      <% end %>

      <br>
      <h5>About your teacher</h5>
      <br>
      <div class="teacher-image-name d-flex align-items-center">
        <% if @booking.listing.user.photo.attached? %>
        <div class="teacher-image mr-3">
          <%= cl_image_tag @booking.listing.user.photo.key, class: "avatar-large" %>
        </div>
        <% end %>
        <div class="teacher-profile-details">
          <p class="m-0"><%= @booking.listing.user.first_name %> <%= @booking.listing.user.last_name %></p>
          <p class="m-0"> Member since <%= (Date.today - Date.parse("#{@booking.listing.user.created_at}")).to_i %> days </p>
        </div>
      </div>
      <br>
      <h6> <%= @booking.listing.user.first_name %>'s bio</h6>
      <br>
      <p><%= @booking.listing.user.bio %></p>
      <br>
      <h6>What motivates <%= @booking.listing.user.first_name %> to teach <%= @booking.listing.title %></h6>
      <br>
      <p><%=  @booking.listing.user.motivation %></p>
      <br>
      <h6>Reviews about <%= @booking.listing.user.first_name %></h6>
      <br>
      <% @booking.listing.user.reviews.each do |review| %>
        <p><%= render "shared/review-score", user: @average_rating %> | Reviews: <%= @booking.listing.user.reviews.count %></p>
        <p><%= review.content %></p>
      <% end %>
      <br>
      <br>
    </div>
    <% if @booking.status == "Accepted" %>
      <div class="col-sm-12 col-md-12 col-lg-4">
        <br>
        <br>
          <div class="chat-card">
            <div class="video-call">
              <h5>Chat with <%=@booking.listing.user.first_name  %></h5>
            </div>
            <div class="chat-buttons">
              <div class="chatroom">
                <%= render "chatrooms/views", chatroom: @chatroom, message: @message, room: @room%>
              </div>
            </div>
          </div>
      </div>
    <% end %>
  </div>
</div>
<div class="map-container mt-5" id="map"
  style="width: 100vw; height: 550px;"
  data-markers="<%= @marker.to_json %>"
  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
</div>


