<div class="container">
  <br>
  <br>
  <h3>Categories</h3>
  <br>
  <div class="row mb-5 ">
    <div class="category-card col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
      <%= link_to listings_path(skill: "Crafts") do %>
      <%= image_tag("crafts.jpg") %>
      <div class="category-title">
        <h6>Crafts</h6>
      </div>
      <% end %>
    </div>

    <div class="category-card col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
      <%= link_to listings_path(skill: "Woodworking") do %>
      <%= image_tag("woodwork.jpg") %>
      <div class="category-title">
        <h6>Woodworking</h6>
      </div>
      <% end %>
    </div>
    <div class="category-card col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
      <%= link_to listings_path(skill: "Painting") do %>
      <%= image_tag("painting.jpg") %>
      <div class="category-title">
        <h6>Painting</h6>
      </div>
      <% end %>
    </div>
    <div class="category-card col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
      <%= link_to listings_path(skill: "Music") do %>
      <%= image_tag("music.jpg") %>
      <div class="category-title">
        <h6>Music</h6>
      </div>
      <% end %>
    </div>
    <div class="category-card col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
      <%= link_to listings_path(skill: "Writing") do %>
      <%= image_tag("writing.jpg") %>
      <div class="category-title">
        <h6>Writing</h6>
      </div>
      <% end %>
    </div>
    <div class="category-card col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
      <%= link_to listings_path(skill: "Entrepreneurship") do %>
      <%= image_tag("entrepreneurship.jpg") %>
      <div class="category-title">
        <h6>Entrepreneurship</h6>
      </div>
      <% end %>
    </div>
    <div class="category-card col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
      <%= link_to listings_path(skill: "Photography") do %>
      <%= image_tag("photography.jpg") %>
      <div class="category-title">
        <h6>Photography</h6>
      </div>
      <% end %>
    </div>
    <div class="category-card col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
      <%= link_to listings_path(skill: "Drawing") do %>
      <%= image_tag("drawing.jpg") %>
      <div class="category-title">
        <h6>Drawing</h6>
      </div>
      <% end %>
    </div>
  </div>
</div>
