<div class="footer-container">
    <div class="footer-logo">
      <li>
        <%= link_to "BOOMZY", root_path,  class: "nav-logo" %>
      </li>
      <li><p>©2020</p></li>
      <li><p><%= link_to "Privacy & Terms", "#", class: "footer-link" %><p></li>
    </div>


    <div class="footer-links">
      <div class="footer-link-column">
        <ul>
          <li class="footer-column-head">Categories</li>
          <li><%= link_to "Mechanics", "#", class: "footer-link"%></li>
          <li><%= link_to "Crafts", "#", class: "footer-link" %></li>
          <li><%= link_to "Sports", "#", class: "footer-link" %></li>
          <li><%= link_to "Woodworking", "#", class: "footer-link" %></li>
          <li><%= link_to "Gardening", "#", class: "footer-link" %></li>
        </ul>
      </div>
      <div class="footer-link-column">
        <ul>
          <li class="footer-column-head">Profile</li>
          <li><%= link_to "My Profile", account_path, class: "footer-link" %></li>
          <li><%= link_to "Edit Profile", account_path, class: "footer-link" %></li>
          <li><%= link_to "Delete Profile", account_path, class: "footer-link" %></li>
          <li><%= link_to "Change Photo", account_path, class: "footer-link" %></li>
          <li><%= link_to "Complain", account_path, class: "footer-link" %></li>
        </ul>
      </div>
      <div class="footer-link-column">
        <ul>
          <li class="footer-column-head">Company</li>
          <li><%= link_to "About", "#", class: "footer-link" %></li>
          <li><%= link_to "Press", "#", class: "footer-link" %></li>
          <li><%= link_to "Our Team", "#", class: "footer-link" %></li>
          <li><%= link_to "Contact", "#", class: "footer-link" %></li>
          <li><%= link_to "Careers", "#", class: "footer-link" %></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-end">

</div>
