<div class="footer-container">
  <div class="container d-flex flex-wrap justify-content-between mt-5 mb-4">
    <div class="footer-logo p-0">
      <%= link_to "BOOMZY", root_path,  class: "footer-logo", id: "footer-logo"%>
      <p>©2020</p>
      <p><%= link_to "Privacy & Terms", "#", class: "footer-link" %><p>
    </div>


    <div class="footer-links">
      <div class="footer-link-column">
        <ul class="footer-padding">
          <li class="footer-column-head">Categories</li>
          <li><%= link_to "Photography", listings_path(skill: "Photography"), class: "footer-link"%></li>
          <li><%= link_to "Crafts", listings_path(skill: "Crafts"), class: "footer-link" %></li>
          <li><%= link_to "Painting", listings_path(skill: "Painting"), class: "footer-link" %></li>
          <li><%= link_to "Woodworking", listings_path(skill: "Woodworking"), class: "footer-link" %></li>
          <li><%= link_to "Gardening", listings_path(skill: "Gardening"), class: "footer-link" %></li>
        </ul>
      </div>
      <div class="footer-link-column">
        <ul>
          <li class="footer-column-head">Profile</li>
          <li><%= link_to "My Profile", account_path, class: "footer-link" %></li>
          <li><%= link_to "Edit Profile", account_path, class: "footer-link" %></li>
          <li><%= link_to "Delete Profile", account_path, class: "footer-link" %></li>
          <li><%= link_to "Change Photo", account_path, class: "footer-link" %></li>
          <li><%= link_to "Complain", account_path, class: "footer-link" %></li>
        </ul>
      </div>
      <div class="footer-link-column">
        <ul>
          <li class="footer-column-head">Company</li>
          <li><%= link_to "About", "#", class: "footer-link" %></li>
          <li><%= link_to "Press", "#", class: "footer-link" %></li>
          <li><%= link_to "Our Team", "#", class: "footer-link" %></li>
          <li><%= link_to "Contact", "#", class: "footer-link" %></li>
          <li><%= link_to "Careers", "#", class: "footer-link" %></li>
        </ul>
      </div>
    </div>
  </div>
  </div>
  <div class="footer-end">
</div>
