<div class="navbar">
  <div class="navbar-burger">
    <div class="dropdown">
      <%= image_tag "burger_menu", class: "burger-menu dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <% if user_signed_in? %>
        <%= link_to "My Profile", account_path, class: "dropdown-item" %>
        <%= link_to "My Listings", account_path, class: "dropdown-item" %>
        <%= link_to "My Bookings", account_path, class: "dropdown-item" %>
        <%= link_to "Create New Listing", account_path, class: "dropdown-item" %>
        <%= link_to "Log Out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
        <% else %>
        <%= link_to "Log In", new_user_session_path, class: "dropdown-item" %>
        <%= link_to "Sign Up", new_user_registration_path, class: "dropdown-item" %>
        <% end %>
      </div>
    </div>
    </div>
    <div class="boomzy-logo">
      <%= link_to "BOOMZY", root_path,  id: "nav-logo" %>
  </div>
  <div class="navbar-right">
  <!-- User menu on right -->
    <% if !user_signed_in? %>
    <%= link_to "SIGN IN", new_user_session_path, class: "navbar-btn" %>
    <% else %>
    <%= link_to "#{current_user.first_name} #{current_user.last_name}", account_path, class: "navbar-btn" %>
  <% end %>
  </div>
</div>
