<%= render 'shared/banner' %>


<div id="section-2">
  <%= simple_form_for :listing, id: "section-2", url: listings_path, method: :get,
    wrapper: :inline_form,
    html: { class: "form-inline" },
    wrapper_mappings: {
      boolean: :inline_boolean
    } do |f| %>

    <%= f.input :skills, collection: %w(Crafts Woodworking Painting Music Writing Entrepreneurship Photography Drawing Gardening), input_html: { class: "mb-2 mr-sm-2", name: "skill" } %>
    <%= f.input :address, input_html: { class: "mb-2 mr-sm-2", name: "address" } %>

    <%= f.button :submit, class: "button standard accent fill" %>
  <% end %>
</div>

<div class="button round trans"><%= link_to 'What would you like to do?', class: ""%></div>
<div class="button round opaque"><%= link_to 'SEARCH', class: ""%></div>
