<h3 class="mt-5" id="bookings">My bookings</h3>

<% if @user.bookings.count == 0 %>
  <h6>You do not currently have any bookings. </h6>
  <%= link_to 'Search Listings', listings_path, class: "button standard accent" %>
<% else %>
<div class="container">
  <div class="row">
    <% @user.bookings.each do |booking| %>
    <div class="account-listings-card mt-4 col-sm-12 col-md-6 mr-4">
      <h5 class="mb-3"><%= booking.listing.title %> </h5>
      <h6 class="mb-3">Your teacher</h6>
      <h6 style="color: #49C5B6" class="mt-3"><%= booking.listing.user.first_name %> <%= booking.listing.user.last_name %></h6>
      <% if booking.listing.user.photo.attached? %>
        <img src="<%= cl_image_path booking.listing.user.photo.key %>" class="avatar-large" />
      <% else %>
        <img class="avatar-large" src="<%= image_path 'avatar' %>"/>
      <% end %>
      <% if booking.listing.user.has_socials? %>
      <div class="listing-socials d-flex socials socials-large">
        <% if booking.listing.user.linkedin_link? %>
        <a href="<%= booking.listing.user.linkedin_link %>" target="_blank"><i class="fab fa-linkedin-in"></i></a>
        <% elsif booking.listing.user.twitter_link? %>
        <a href="<%= booking.listing.user.twitter_link %>" target="_blank"><i class="fab fa-twitter"></i></a>
        <% elsif booking.listing.user.instagram_link? %>
        <a href="<%= booking.listing.user.facebook_link %>" target="_blank"><i class="fab fa-facebook-f"></i></a>
        <% elsif booking.listing.user.facebook_link?%>
        <a href="<%= booking.listing.user.instagram_link %>" target="_blank"><i class="fab fa-instagram"></i></a>
        <% end %>
      </div>
      <% end %>
      <p class="mt-2">Current status: <%= booking.status %></p>
      <p>Your booking is on <%= booking.date %></p>
      <%= link_to 'Details', booking_path(booking), class:"button standard accent" %>
      <%= link_to booking_path(booking), method: :delete do %>
      <i class="far fa-trash-alt ml-3" style="font-size: 20px; color: #FF4E4E"></i>
      <% end %>
    </div>
    <% end %>
  </div>
</div>
<% end %>
