<!DOCTYPE html>
<html>
<head>
<!-- HTML Meta Tags -->
<title>Boomzy - Master what other people already know</title>
<meta name="description" content="Boomzy links skilled people with people who want to learn a skill">
<!-- Google / Search Engine Tags -->
<meta itemprop="name" content="Boomzy - Master what other people already know">
<meta itemprop="description" content="Boomzy links skilled people with people who want to learn a skill">
<meta itemprop="image" content="https://boomzy-meet.herokuapp.com/assets/homepage_banner-ba6fe19dcb58a1f0ff7ab475773f127aa2e529cf5ae0696e0483b100cd5c65c1.jpg">

<!-- Facebook Meta Tags -->
<meta property="og:url" content="http://boomzy-meet.herokuapp.com">
<meta property="og:type" content="website">
<meta property="og:title" content="Boomzy - Master what other people already know">
<meta property="og:description" content="Boomzy links skilled people with people who want to learn a skill">
<meta property="og:image" content="https://boomzy-meet.herokuapp.com/assets/homepage_banner-ba6fe19dcb58a1f0ff7ab475773f127aa2e529cf5ae0696e0483b100cd5c65c1.jpg">

<!-- Twitter Meta Tags -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="Boomzy - Master what other people already know">
<meta name="twitter:description" content="Boomzy links skilled people with people who want to learn a skill">
<meta name="twitter:image" content="https://boomzy-meet.herokuapp.com/assets/homepage_banner-ba6fe19dcb58a1f0ff7ab475773f127aa2e529cf5ae0696e0483b100cd5c65c1.jpg">

<!-- Favicon -->
<%= favicon_link_tag asset_path('boomzy_icon.jpg') %>


  <title>Boomzy</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
</head>

<body class="<%= params[:controller] %>-<%= params[:action] %>">
  <div class="page-container">
    <%= render 'shared/navbar' %>
    <%= render 'shared/flashes' %>

    <%= yield %>


    <%= render 'shared/footer' %>
  </div>
</body>

</html>

