<!DOCTYPE html>
<html>
<!-- HTML Meta Tags -->
<title>Boomzy - Master what other people already know</title>
<meta name="description" content="Boomzy links skilled people with people who want to learn a skill">
<%= render 'shared/meta-tags' %>

<!-- Favicon -->
<%= favicon_link_tag asset_path('boomzy_icon.jpg') %>

<head>
  <title>Boomzy</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
</head>

<body class="<%= params[:controller] %>-<%= params[:action] %>">
  <div class="page-container">
    <%= render 'shared/navbar' %>
    <%= render 'shared/flashes' %>

    <%= yield %>


    <%= render 'shared/footer' %>
  </div>

</body>
</html>

